.card {
    background-color: transparent !important;
    border: none !important;
    color: var(--lt-color);
    text-align: center;
    font-family: "Grandstander", cursive;
    border-radius: 1rem;
    padding: 0.5rem; 
    height: auto;
}

.card-body img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
}

.front img {
    width: 150px;
}

.card-title {
    font-family: "Grandstander", cursive;
    font-size: 22px;
}

.card-text{
    font-family: "Inter", sans-serif;
    font-size: 18px;
}

h3 {
    color: var(--lt-color);
    font-family: "Grandstander", cursive;
    font-size: 24px;
}