/* Espaciado general del contenedor */
  #cardsProduct {
    margin-top: 10px;
  }
  
  
  .card-title.principal {
    font-family: 'Grandstander', cursive;
    font-size: 16px;
    color: #00375e;
    margin-bottom: 10px;
  }
  
  .card-title.detalle {
    font-family: "Inter", sans-serif;
    font-size: 15px;
    color: #00375e;
    margin-bottom: 10px;
  }
  
  .card-precio {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    color: #2a9d8f;
    margin-bottom: 10px;
  }
  
  /* Estilo base para cada tarjeta */
  .card {
    border-radius: 16px;
    overflow: hidden;
    box-shadow: 0 2px 10px #9132321a;
    transition: transform 0.25s ease, box-shadow 0.25s ease;
    padding: 1px;
  }
  
  /* Efecto al pasar el mouse */
  .card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 20px #7fbff3fa;
  }
  
  /* Imágenes iguales en todas las tarjetas */
  .image-container {
    background-color: #e6f9f5;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
  }

  .card-img-top {
    max-height: 90%;
    max-width: 90%;
    width: auto;
    height: auto;
    object-fit: contain;
  }
  
  /* Contenido de la tarjeta */
  .card-body {
    padding: 0.5rem;
    background-color: #BDDDF4;
    text-align: center;
  }
   
  /* Botón personalizado */
  .btn-primary {
    font-family: 'Inter', sans-serif;
    color: #00375e;
    background-color: #FD8F3E;
    border: none;
    font-size: 0.9rem;
    padding: 6px 14px;
    transition: background-color;
  }  

  .btn-primary:hover {
    background-color: #ffd700;
    color: #00375e;
  }

  .btn-warning button:hover {
    background-color: #ffd700;
  }