.logo {
  width: 200px;
  height: 200px;
  text-align: center;
}

.containerLogo {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

.mb-3 {
  margin-top: 1rem;
}

.button {
  text-align: center;
  background-color: var(--ft-color);
}

div.form-check {
  display: flex;
  justify-content: center;
  align-items: center;
}
