#btnEnviar {
    border: #feb36d;
    background-color: #feb36d;
    text-align: center;
    color: #00375e;
    font-family: "Inter", sans-serif;
  }

#btnEnviar:hover {
    background-color: #ffd700;
}