body{
    background-color: transparent;
}

html{
    --bg-color: #F5FDFF;
    --lt-color: #00375E;
    --bt-color: #BDDDF4;
    --ft-color: #FEB36D;
    --mn-color: #EBE6CE;

    background-color: var(--bg-color);
}

.navbar-brand {
    font-family: "Grandstander", cursive;
    color: #00375E;
    font-size: 24px;
}

.navbar-brand:hover {
    color: var(--bt-color);
}

.nav-link {
    font-family: "Inter", sans-serif;
    color: var(--ft-color);
    font-size: 20px;
}

.nav-link:hover {
    color: var(--bt-color);
}